﻿@{
    ViewBag.Title = "Hakkımızda";
}

<div class="container">
    <div class="page-title clearfix">
        <div class="row">
            <div class="col-md-12">
                <h6><a href="Index">@EgtMerkezi.Resources.lang.AnaSayfa</a></h6>
                <h6><span class="page-active">@EgtMerkezi.Resources.lang.Hakkimizda</span></h6>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="widget-main">
                <div class="widget-inner shortcode-typo">
                    <h4>@EgtMerkezi.Resources.lang.Hakkimizda</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <p>Sağlık Bakanlığı Türkiye'de daha etkin ve verimli bir şekilde sağlık hizmetlerine ulaşılması amacı ile Sağlıkta Dönüşüm Projesi'ni yürürlüğe koymuş ve bu program kapsamındaki çalışmaları büyük ölçüde gerçekleştirmiştir. Bu programın en önemli çalışmalarından biri de Merkezi Hekim Randevu Sistemi'dir.</p>
                            <h4>Merkezi Hekim Randevu Sistemi Nedir?</h4>
                            <p>Merkezi Hekim Randevu Sistemi; vatandaşların Sağlık Bakanlığı'na bağlı 2. ve 3. basamak hastaneler ile ağız ve diş sağlığı merkezleri için Alo182 hattından Merkezi Hekim Randevu Sistemi'ni arayarak canlı operatörlerden veya web üzerinden kendilerine istedikleri hastane ve hekimden randevu alabilecekleri bir uygulamadır.</p>
                            <h4>Merkezi Hekim Randevu Sistemi'nin Amaçları Nelerdir?</h4>
                            <p>Hastanelerde daha iyi bir kaynak planlanması (iş gücü ve teçhizat kullanımının etkin ve verimli planlanması) yapılarak vatandaş/hasta memnuniyetinin artırılması, hastanelerde kuyrukların azaltılması.
                               Hastanelerde kaynak kullanımının ve dağıtımının ölçülmesi (iş gücü, makine ve teçhizat kullanımının etkin ve verimli uygulanması) suretiyle; sağlık hizmetleri sunumunun, verim ve kalitesinin artırılması.
                               Merkezi Hekim Randevu Sistemi verileriyle, sağlık politikaları geliştirilmesine yardımcı olunması. </p>
                            <h4>Randevu Nasıl Alınır?</h4>
                            <p>Vatandaşlar, 182?nin yanı sıra "Online Randevu Sistemi" aracılığıyla da randevu alabilmektedir.
                               Vatandaşlar, randevu almak istedikleri Merkezi Hekim Randevu Sistemi kapsamında olan hastanelerin internet sitelerindeki "Online Randevu" linkine basarak, "Vatandaş Giriş" ekranından kayıt oluşturup randevu alabilmektedir.</p>
                            <h4>Randevu Nasıl İptal Edilir?</h4>
                            <p>Merkezi Hekim Randevu Sistemi "Online Randevu" ekranına T.C. kimlik numarası ve şifre ile giriş yapılmalıdır.
                               "Randevu Geçmişi" kısmına tıklayarak alınmış olunan tüm randevu bilgilerine erişilir ve randevu iptal işlemi bu kısımdan yapılır.
                                "Randevu İptal" kısmına tıklayarak randevu iptal edilir.</p>
</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
