﻿@{
    ViewBag.Title = "İletişim";
}

@model EgtMerkezi.Models.Oneri

<div class="container">
    <div class="page-title clearfix">
        <div class="row">
            <div class="col-md-12">
                <h6><a href="Index">@EgtMerkezi.Resources.lang.AnaSayfa</a></h6>
                <h6><span class="page-active">@EgtMerkezi.Resources.lang.Iletisim </span></h6>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="contact-map">
                <div class="google-map-canvas" id="map-canvas" style="height: 590px;">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1529.897046523203!2d32.84796763558231!3d39.923623906452164!3m2!1i1024!2i768!4f13.1!5e0!3m2!1str!2s!4v1429969155545" frameborder="0" style="border:0;width:100%;height:100%;"></iframe>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="contact-page-content">
                <div class="contact-heading">
                    <h3>@EgtMerkezi.Resources.lang.Iletisim</h3>
                    <p>
                        Mithatpaşa Cad. No:3 Sıhhiye 06434 ANKARA<br>
                        Tel: ALO 182 <br>
                        Randevu Merkezi [ yardimmasasi@mhrs.gov.tr ]
                    </p>
                </div>
                <div class="contact-form clearfix">
                    @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        <p class="full-row">
                            <span class="contact-label">
                                <label for="name-id">@EgtMerkezi.Resources.lang.AdSoyad</label>
                            </span>
                            @Html.TextBoxFor(m => m.AdSoyad, new { placeholder = @EgtMerkezi.Resources.lang.AdSoyad })
                        </p>
                        <p class="full-row">
                            <span class="contact-label">
                                <label for="email-id">@EgtMerkezi.Resources.lang.Telefon</label>
                            </span>
                            @Html.TextBoxFor(m => m.Telefon, new { placeholder = @EgtMerkezi.Resources.lang.Telefon })
                        </p>
                        <p class="full-row">
                            <span class="contact-label">
                                <label for="email-id">@EgtMerkezi.Resources.lang.Eposta</label>
                            </span>
                            @Html.TextBoxFor(m => m.Eposta, new { placeholder = EgtMerkezi.Resources.lang.Eposta })
                        </p>
                        <p class="full-row">
                            <span class="contact-label">
                                <label for="message">@EgtMerkezi.Resources.lang.Mesaj</label>
                            </span>
                            @Html.TextAreaFor(m => m.Mesaj, new { placeholder = EgtMerkezi.Resources.lang.Mesaj, rows = 6 })
                        </p>
                        <p class="full-row">
                            <input class="mainBtn" type="submit" name="" value="@EgtMerkezi.Resources.lang.Gonder">
                            <label>@ViewBag.Mesaj</label>
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
