﻿@{
    ViewBag.Title = "Randevu Merkezi";
}

@model EgtMerkezi.Controllers.AnaSayfaDTO

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="main-slideshow">
                <div class="flexslider">
                    <ul class="slides">
                        @foreach (var item in Model.slider)
                        {
                            <li>
                                @if (item.SliderFoto == null)
                                {
                                    <img style='width:100%; height:100%; max-height:400px;' src="~/assets/img/resimyok.png" alt="" />
                                }
                                else
                                {
                                    <img src="data:image/png;base64,@System.Convert.ToBase64String(item.SliderFoto)" style="height:100%; max-height:400px;" alt="Slide 1" />
                                }
                                <div class="slider-caption">
                                    <h2><a href="#">@item.SliderText</a></h2>
                                    <p>@item.SliderText</p>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="margin-top: 30px;">
            <div class="submit_field">
                <input class="mainBtn pull-right" type="submit" value="@EgtMerkezi.Resources.lang.RandevuAl" onclick="window.location = '/Home/Randevu'">
            </div>
            <div class="InfoLogo">
                <img src="~/Content/images/mhrsLogo.png" />
            </div>
            <div class="submit_field">
                <input class="mainBtn pull-right" type="submit" value="@EgtMerkezi.Resources.lang.RandevuGecmisi" onclick="window.location = '/Home/RandevuGoruntule'">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <div class="widget-main">
                        <div class="widget-main-title">
                            <h4 class="widget-title">@EgtMerkezi.Resources.lang.TanıtımVideosu</h4>
                        </div>
                        <div class="widget-inner">
                            <iframe src="http://www.youtube.com/v/JZjyURDLnLM&amp;fs=1&amp;rel=0&amp;hd=1&amp;showsearch=0&amp;showinfo=0" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="width:100%; min-height:249px; border: 1px solid rgb(128, 128, 128); border-image: none;"></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="widget-main">
                        <div class="widget-main-title">
                            <h4 class="widget-title">@EgtMerkezi.Resources.lang.Duyurular</h4>
                        </div>
                        <div class="widget-inner">
                            @foreach (var item in Model.duyuru)
                            {
                                <div class="event-small-list clearfix">
                                    <div class="calendar-small">
                                        <span class="s-month">@String.Format("{0:MMMM}", @item.Tarih)</span>
                                        <span class="s-date">@String.Format("{0:dd}", @item.Tarih)</span>
                                    </div>
                                    <div class="event-small-details">
                                        <h5 class="event-small-title"><a href="#">@item.DuyuruBaslik</a></h5>
                                        <p class="event-small-meta small-text">@item.Duyuru</p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="widget-main">
                <div class="widget-main-title">
                    <h4 class="widget-title">@EgtMerkezi.Resources.lang.HastaGorusleri</h4>
                </div>
                <div class="widget-inner">
                    @foreach (var item in Model.gorus)
                    {
                        <div class="prof-list-item clearfix">
                            <div class="prof-thumb">
                                @if (item.Foto == null)
                                {
                                    <img style='width:100%; height:100%; max-height:400px;' src="~/assets/img/resimyok.png" alt="" />
                                }
                                else
                                {
                                    <img style="width:75px; height:75px;" src="data:image/png;base64,@System.Convert.ToBase64String(item.Foto)" alt="@item.AdSoyad">
                                }
                            </div>
                            <div class="prof-details">
                                <h5 class="prof-name-list">@item.AdSoyad</h5>
                                <p class="small-text">@item.Gorus</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>