﻿
@{
    ViewBag.Title = "Sorular";
}

<div class="container">
    <div class="page-title clearfix">
        <div class="row">
            <div class="col-md-12">
                <h6><a href="Index">Ana Sayfa</a></h6>
                <h6><span class="page-active">Sıkça Sorulan Sorular</span></h6>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="widget-main">
                <div class="widget-inner shortcode-typo">
                    <h4>Yeni Üye Kaydımı Nasıl Yapabilirim?</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <p>http://hastanerandevu.gov.tr adresinden randevu al bölüme girdiğinizde, "YENİ ÜYE" bölümünden sizin belirleyeceğiniz bir şifre ile üyelik oluşturarak sisteme giriş yapabilirsiniz.</p>
                            <h4>Randevu Nasıl Alınır?</h4>
                            <p>
                                Alo182 Aranarak;Ev, iş, ankesör ve cep telefonlarından Alo182 aranır.Çağrıyı karşılayan operatöre hastanın T.C. kimlik numaranız verilir.
                                Randevu talep edilen hastane, poliklinik ve varsa hekim tercihleri operatöre bildirilir.Operatör uygun tarih ve saat dilimlerini vatandaşa bildirir.
                                Vatandaş seçimini yaparak randevusunu alır.İnternet Üzerinden;www.hastanerandevu.gov.tr veya www.mhrs.gov.tr adresine giriş yapılır.
                                Merkezi Hekim Randevu Sistemi ilk kez giriş yapılırken her vatandaş için ayrı bir hesap açılır.Bunun için ilgili yönlendirme adımları takip edilir.
                                Hesap açıldıktan sonra "Randevu Al" butonunu kullanarak T.C. kimlik numarası ve belirlenen şifre ile giriş yapılır.İstenilen hastane, poliklinik ve hekim tercihi yapılarak randevu alınır.
                            </p>
                             <h4>Randevularımı Nasıl Görüntüleyebilirim?</h4>
                            <p>
                                http://hastanerandevu.gov.tr adresinden randevu al bölüme girdiğinizde, T.C. kimlik numaranız ve şifreniz ile giriş yaptıktan sonra sağ taraftaki "Randevu Geçmişi" kısmından randevularınızı görebilirsiniz.
                            </p>
                            <h4>Randevumu Nasıl İptal Edebilirim?</h4>
                            <p>
                                http://hastanerandevu.gov.tr adresinden randevu al bölüme girdiğinizde T.C. kimlik numaranız ve şifreniz ile giriş yaptıktan sonra sağ taraftaki "Randevu Geçmişi" kısmından randevularınızı görebilir, iptal etmek istediğiniz randevunun sağ tarafındaki "İPTAL ET" butonuna basarak randevunuzu iptal edebilirsiniz. Ayrıca Alo182 MHRS hattını arayarak da randevunuzu iptal ettirebilirsiniz.
                            </p>
                            <h4>Randevu Saatinden Ne kadar Önce Hastanede Bulunmam Gerekiyor? </h4>
                            <p>
                                Aldığınız randevular için Hastanede sigorta ve kayıt işlemleriniz yapılacağından yeterli bir süre önce, örneğin 25-30 dakika kadar önceden hastanede bulunmanız gerekir.
                            </p>
                            <h4>Randevu Saatinde Kısıtlama Var mıdır? </h4>
                            <p> Randevu süresi her poliklinik için farklılık göstermekle beraber, en az 10 dakika olmak şartı ile birer dakika arttırılarak 60 dakikaya kadar uzatılabilir.</p>
</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

