﻿@using EgtMerkezi.Models
@{
    ViewBag.Title = "RandevuGoruntule";
}

<h2>RandevuGoruntule</h2>
@{
    IEnumerable<Rondevu> randevu = ViewData["randevu"] as IEnumerable<Rondevu>;
    IEnumerable<IL> iller = ViewData["iller"] as IEnumerable<IL>;
    IEnumerable<ILCE> ilceler = ViewData["ilceler"] as IEnumerable<ILCE>;
    IEnumerable<Hospital> hastaneler = ViewData["hastaneler"] as IEnumerable<Hospital>;
    IEnumerable<Doctor> doktorlar = ViewData["doktorlar"] as IEnumerable<Doctor>;
    IEnumerable<Klinik> poliklinikler = ViewData["poliklinikler"] as IEnumerable<Klinik>;
    IEnumerable<Uyeler> uyeler = ViewData["Uyeler"] as IEnumerable<Uyeler>;
}
<div class="panel panel-gray">
    <div class="panel-heading">
        <div class="col-md-12">
            <h4>Randevular</h4>
            
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-1">Hasta Tc</th>
                            <th class="col-md-1">Hasta Adi</th>
                            <th class="col-md-2">İl</th>
                            <th class="col-md-2">İlçe</th>
                            <th class="col-md-2">Hastane</th>
                            <th class="col-md-2">Doktor</th>
                            <th class="col-md-2">Poliklinik</th>
                            <th class="col-md-2">Tarih-Saat</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in randevu)
                        {
                            <tr>
                                <td>@item.Uyeler.UyeTc</td>
                                <td>@item.Uyeler.UyeAdi</td>
                                    @foreach (var item1 in iller.Where(p => p.ILID == item.ILID))
                                    {
                                        <td>@item1.ILADI</td>
                                        
                                    }
                                @foreach (var item1 in ilceler.Where(p => p.ILCEID == item.ILCEID))
                                {
                                    <td>@item1.ILCEAD</td>
                                }
                                @foreach (var item1 in hastaneler.Where(p => p.HastaneId == item.HastaneId))
                                {
                                    <td>@item1.Ad</td>
                                }
                                  @foreach (var item1 in doktorlar.Where(p => p.DOKTORID == item.DOKTORID))
                                {
                                    <td>@item1.Ad</td>
                                }
                               
                                @foreach (var item1 in poliklinikler.Where(p => p.KlinikId == item.KlinikId))
                                {
                                    <td>@item1.Ad</td>
                                }
                                <td>@item.RandevuTarihSaat</td>
                               
                                
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
