﻿@model EgtMerkezi.Models.Rondevu

@{
    ViewBag.Title = "Randevu";
 }
<link href="~/assets/plugins/form-datepicker/css/datepicker.css" rel="stylesheet" />
<script src="~/assets/plugins/form-datepicker/js/bootstrap-datepicker.js"></script>
<link href="~/assets/css/bootstrap-datetimepicker.css" rel="stylesheet" />
<script src="~/assets/js/bootstrap-datetimepicker.js"></script>
@using (Html.BeginForm("Randevu", "Home", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
<h2>@EgtMerkezi.Resources.lang.RandevuAl</h2>
<div><h2>@EgtMerkezi.Resources.lang.Il</h2>@Html.DropDownList("ILID", "İL SEÇİNİZ")</div>
<div><h2>@EgtMerkezi.Resources.lang.Ilce</h2>@Html.DropDownList("ILCEID", "İLÇE SEÇİNİZ")</div>
<div><h2>@EgtMerkezi.Resources.lang.TarihveSaat</h2>@Html.TextBoxFor(m => m.RandevuTarihSaat, new { @class = "form-control", @id = "Tarih", style = "width:250px;" })</div>
<div><h2>@EgtMerkezi.Resources.lang.Hastane</h2>@Html.DropDownList("HastaneId", "HASTANE SEÇİNİZ")</div>
<div><h2>@EgtMerkezi.Resources.lang.Poliklinik</h2>@Html.DropDownList("KlinikId", "POLİKLİNİK SEÇİNİZ")</div>
<div><H2>@EgtMerkezi.Resources.lang.Doktor</H2>@Html.DropDownList("DOKTORID", "DOKTOR SEÇİNİZ")</div>


 
                
                
         
    

    <script type="text/javascript">
        $("#Tarih").datetimepicker({
            format: 'yyyy-mm-dd hh:ii',
            startDate: "2015-05-07 10:00",
            
        });
    </script>
<div class="submit_field">
    <input class="mainBtn pull-right" type="submit" value="@EgtMerkezi.Resources.lang.RandevuAl" onclick="window.location = '/Home'">
</div>
}

