﻿
@{
    Layout = null;
}

@model EgtMerkezi.Models.Doctor

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("DoktorDuzenle", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.DOKTORID)
            <div class="row">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-sm-2">
                                @if (Model.Foto == null)
                                {
                                    <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="~/assets/img/resimyok.png" alt="" />
                                }
                                else
                                {
                                    <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="data:image/png;base64,@System.Convert.ToBase64String(Model.Foto)" alt="" />
                                }
                            </div>
                            <div class="col-sm-10">
                                <input type="file" name="file" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">Ad</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Ad, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">Soyad</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Soyad, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">Telefon</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Telefon, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">E-posta</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Eposta, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">Özgeçmiş</label>
                            <div class="col-sm-10">
                                @Html.TextAreaFor(m => m.Ozgecmis, new { @class = "form-control", rows = 10 })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-9 col-sm-offset-3">
                        <div class="btn-toolbar pull-right">
                            <input type="submit" value="Güncelle" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

