﻿@{
    ViewBag.Title = "Hastane ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model List<EgtMerkezi.Models.Hospital>

<div class="panel panel-gray">
    <div class="panel-heading">
        <div class="col-md-12">
            <h4>Hastane </h4>
            <a href="javascript:;" data-toggle="tooltip modal" data-width="4" data-source="/Admin/HastaneEkle" data-title="Yeni Hastane " data-function="CloseModal" class="btn btn-success btn-sm tooltips pull-right" style="margin-top:6px;" title="Yeni Hastane "><i class="fa fa-plus">&nbsp;&nbsp; Yeni Hastane </i></a>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-2">Ad</th>
                            
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                               
                                <td>@item.Ad</td>
                                
                                <td><a href='javascript:;' data-toggle='tooltip modal' data-source="/Admin/HastaneDuzenle?HastaneId=@item.HastaneId" data-title='Hastane Düzenle' data-function='CloseModal' data-width='4' class='btn btn-xs btn-info tooltips' title='Düzenle'>Düzenle</a></td>
                                <td><a href="/Admin/HastaneSil?HastaneId=@item.HastaneId" class='btn btn-xs btn-danger tooltips' title='Sil'>Sil</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
