﻿
@{
    Layout = null;
}

@model EgtMerkezi.Models.HastaGorus

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("HastaGorusDuzenle", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.ID)
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            @if (Model.Foto == null)
                            {
                                <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="~/assets/img/resimyok.png" alt="" />
                            }
                            else
                            {
                                <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="data:image/png;base64,@System.Convert.ToBase64String(Model.Foto)" alt="" />
                            }
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-sm-2 control-label">Fotoğraf</label>
                        <div class="col-sm-10">
                            <input type="file" name="file" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-sm-2 control-label">Ad Soyad</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.AdSoyad, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label class="col-sm-2 control-label">Görüş</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Gorus, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-9 col-sm-offset-3">
                        <div class="btn-toolbar pull-right">
                            <input type="submit" value="Güncelle" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

