﻿
@{
    Layout = null;
}

@model EgtMerkezi.Models.HastaGorus

<div class="row">
    <div class="col-sm-12">
        @using (Html.BeginForm("HastaGorusEkle", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">Fotoğraf</label>
                            <div class="col-sm-10">
                                <input type="file" name="file" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">Ad Soyad</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.AdSoyad, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-sm-2 control-label">Görüş</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Gorus, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-9 col-sm-offset-3">
                        <div class="btn-toolbar pull-right">
                            <input type="submit" value="Kaydet" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

