﻿
@{
    ViewBag.Title = "Hasta Görüşleri";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model List<EgtMerkezi.Models.HastaGorus>

<div class="panel panel-gray">
    <div class="panel-heading">
        <div class="col-md-12">
            <h4>HASTA GÖRÜŞLERİ</h4>
            <a href="javascript:;" data-toggle="tooltip modal" data-width="4" data-source="/Admin/HastaGorusEkle" data-title="Yeni Görüş" data-function="CloseModal" class="btn btn-success btn-sm tooltips pull-right" style="margin-top:6px;" title="Yeni Görüş"><i class="fa fa-plus">&nbsp;&nbsp; Yeni Görüş</i></a>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-1">Fotoğraf</th>
                            <th class="col-md-5">Ad Soyad</th>
                            <th class="col-md-4">Görüş</th>
                            <th class="col-md-2">Tarih</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                @if (item.Foto == null)
                                {
                                    <td><img style='width:100%; height:auto; border:solid 1px #cccccc;' src="~/assets/img/resimyok.png" alt="" /></td>
                                }
                                else
                                {
                                    <td>
                                        <img style='width:100%; height:auto; border:solid 1px #cccccc;' src="data:image/png;base64,@System.Convert.ToBase64String(item.Foto)" />
                                    </td>
                                }
                                <td>@item.AdSoyad</td>
                                <td>@item.Gorus</td>
                                <td>@String.Format("{0:d}", @item.Tarih)</td>
                                <td><a href='javascript:;' data-toggle='tooltip modal' data-source="/Admin/HastaGorusEkle" data-title='Hasta Görüş Düzenle' data-function='CloseModal' data-width='4' class='btn btn-xs btn-info tooltips' title='Düzenle'>Düzenle</a></td>
                                <td><a href="/Admin/HastaGorusSil?GorusID=@item.ID" class='btn btn-xs btn-danger tooltips' title='Sil'>Sil</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

