﻿
@{
    ViewBag.Title = "Poliklinik ";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model List<EgtMerkezi.Models.Klinik>

<div class="panel panel-gray">
    <div class="panel-heading">
        <div class="col-md-12">
            <h4>Poliklinik </h4>
            <a href="javascript:;" data-toggle="tooltip modal" data-width="4" data-source="/Admin/PoliklinikEkle" data-title="Yeni Poliklinik " data-function="CloseModal" class="btn btn-success btn-sm tooltips pull-right" style="margin-top:6px;" title="Yeni Poliklinik "><i class="fa fa-plus">&nbsp;&nbsp; Yeni Poliklinik </i></a>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-2">Ad</th>

                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>@item.Ad</td>

                                <td><a href='javascript:;' data-toggle='tooltip modal' data-source="/Admin/PoliklinikDuzenle?KlinikId=@item.KlinikId" data-title='Poliklinik Düzenle' data-function='CloseModal' data-width='4' class='btn btn-xs btn-info tooltips' title='Düzenle'>Düzenle</a></td>
                                <td><a href="/Admin/PoliklinikSil?KlinikId=@item.KlinikId" class='btn btn-xs btn-danger tooltips' title='Sil'>Sil</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


