﻿<!DOCTYPE html>
<html class="no-js" lang="tr">
<head>
    <title>Randevu Merkezi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Randevu Merkezi">
    <meta name="author" content="Randevu Merkezi">
    <meta charset="UTF-8">

    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800' rel='stylesheet' type='text/css'>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="responsive-navigation visible-sm visible-xs">
        <a href="#" class="menu-toggle-btn">
            <i class="fa fa-bars"></i>
        </a>
        <div class="responsive_menu">
            <ul class="main_menu">
                <li>@Html.ActionLink(EgtMerkezi.Resources.lang.AnaSayfa, "Index", "Home")</li>
                <li>@Html.ActionLink(EgtMerkezi.Resources.lang.Hakkimizda, "Home")</li>
                <li>
                   @Html.ActionLink(EgtMerkezi.Resources.lang.SıkcaSorulanSorular, "Question", "Home")
                </li>
                <li>@Html.ActionLink(EgtMerkezi.Resources.lang.Iletisim, "Contact", "Home")</li>
            </ul>
            <ul class="social_icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                
            </ul>
        </div>
    </div>
    <header class="site-header">
        <div class="container">
            <div class="row">
                <div class="col-md-4 header-left">
                    <p><i class="fa fa-phone"></i> ALO 182</p>
                    <p><i class="fa fa-envelope"></i> <a href="mailto:yardimmasasi@mhrs.gov.tr ">yardimmasasi@mhrs.gov.tr </a></p>
                </div>
                <div class="col-md-4">
                    <div class="logo">
                        <a href="Index" title="Randevu Merkezi" rel="home">
                            <h3 style="color:#c6badd;">MHRS</h3>
                            <h3 style="color:#c6badd; margin-top:0px;">@EgtMerkezi.Resources.lang.RandevuMerkezi</h3>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 header-right">
                    <ul class="small-links">
                        @Html.Partial("_LoginPartial")
                    </ul>
                    <div class="search-form">
                        @using (Html.BeginForm("GoogleSearch", "Home", FormMethod.Get))
                        {
                            <input type="text" name="search" placeholder="@EgtMerkezi.Resources.lang.Arama" title="@EgtMerkezi.Resources.lang.Arama" class="field_search">
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-bar-main" role="navigation">
            <div class="container">
                <nav class="main-navigation clearfix visible-md visible-lg" role="navigation">
                    <ul class="main-menu sf-menu">
                        <li>@Html.ActionLink(EgtMerkezi.Resources.lang.AnaSayfa, "Index", "Home")</li>
                        <li>@Html.ActionLink(EgtMerkezi.Resources.lang.Hakkimizda, "About", "Home")</li>
                        <li>
                            @Html.ActionLink(EgtMerkezi.Resources.lang.SıkcaSorulanSorular, "Question", "Home")
                        </li>
                        <li>@Html.ActionLink(EgtMerkezi.Resources.lang.Iletisim, "Contact", "Home")</li>
                    </ul>
                    <ul class="social-icons pull-right">
                        <li><a href="#" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <footer class="site-footer">
        <div class="container">
            <div class="bottom-footer">
                <div class="row">
                    <div class="col-md-2">
                        <p class="small-text">&copy; @DateTime.Now.Year. <a href="https://www.mhrs.gov.tr">@EgtMerkezi.Resources.lang.MHRS</a></p>
                    </div>
                    <div class="col-md-4">
                        <ul class="footer-nav">
                            <li>@Html.ActionLink(EgtMerkezi.Resources.lang.AnaSayfa, "Index", "Home")</li>
                            <li>@Html.ActionLink(EgtMerkezi.Resources.lang.Hakkimizda, "Home")</li>
                            <li>
                                @Html.ActionLink(EgtMerkezi.Resources.lang.SıkcaSorulanSorular, "Question", "Home")
                            </li>
                            <li>@Html.ActionLink(EgtMerkezi.Resources.lang.Iletisim, "Contact", "Home")</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="social-icons pull-right" style="padding:0;">
                            <li><a href="#" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", false)
</body>
</html>
