﻿@if (Session["UyeId"] == null)
{
    <li>@Html.ActionLink(@EgtMerkezi.Resources.lang.UyeOl, "UyeKayit", "Home", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink(@EgtMerkezi.Resources.lang.UyeGiris, "UyeGiris", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
else
{
    <li>@EgtMerkezi.Resources.lang.Hosgeldiniz - @Session["UyeAdi"].ToString()</li>
    <li>@Html.ActionLink(@EgtMerkezi.Resources.lang.Cikis, "Cikis", "Home")</li>
}
@if (HttpContext.Current.Session["Culture"].ToString() == "tr")
{
    <li>@Html.ActionLink("English", "ChangeCulture", "Home", new { lang = "en", returnurl = this.Request.RawUrl }, null)</li>
}
else
{
    <li>@Html.ActionLink("Turkish", "ChangeCulture", "Home", new { lang = "tr", returnUrl = this.Request.RawUrl }, null)</li>
}